{% extends 'base.html.twig' %}

{% block title %} Liste des aventures {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <img src="{{ asset('images/avatars/' ~ personnage.avatar.getNomFichier()) }}" class="card-img-top" alt="Avatar">
            <div class="card-body">
                <h5 class="card-title">{{ personnage.prenom }}</h5>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        {% for aventure in aventures %}
<div class="card mb-3 bg-dark">
    <div class="card-body">
        <h5 class="card-title text-white">{{ aventure.titre }}</h5>
        <p class="card-text text-white">{{ aventure.description }}</p>
        <a href="{{ path('app_start_aventure', {'idPersonnage': personnage.id, 'idAventure': aventure.id }) }}" class="btn btn-primary">Jouer</a>
    </div>
</div>
        {% else %}
        <p>Aucune aventure</p>
        {% endfor %}
    </div>
</div>
{% endblock %}